<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Education NodeJs</a>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          User Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/courses/create">Add course</a>
          <div class="dropdown-devider"></div>
          <a class="dropdown-item" href="/me/stored/courses">My courses</a>
          <a class="dropdown-item" href="/me/stored/news">My news</a>
          <div class="dropdown-devider"></div>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>